
@import
	'fonts',
	'_custom_bootstrap_vatiables.scss',
	'../../bower_components/bootstrap/scss/_functions.scss',
	'../../bower_components/bootstrap/scss/_variables.scss',
	'../../bower_components/bootstrap/scss/_mixins.scss',
	'_sprite',
	'_param',
	'_canvas',
	'_header',
	'_footer';
	html{
		height: 100%;
	}
	body{
		background: #e8e8e8;
		overflow-x: hidden;
		height: 100%;
		&.home_page{
			background: #fff;
		}
	}
.container{
	width: 100%;
	max-width: 1350px;
}
h1{
	font-size: 48px;
	line-height: 70px;
	@include media-breakpoint-down(md){
		font-size: 38px;
		line-height: 40px;
	}
}
h3{
	font-size: 36px;
	line-height: 43px;
	@include media-breakpoint-down(md){
		font-size: 30px;
		line-height: 35px;
	}
}
.calc_header{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: linear-gradient(to right, rgba(43,24,93,1) 0%,rgba(47,26,96,1) 3%,rgba(45,26,94,1) 3%,rgba(49,27,95,1) 4%,rgba(49,27,94,1) 7%,rgba(53,30,97,1) 8%,rgba(53,28,95,1) 9%,rgba(56,30,97,1) 10%,rgba(54,30,95,1) 10%,rgba(58,31,98,1) 11%,rgba(60,33,98,1) 14%,rgba(63,33,98,1) 14%,rgba(67,35,99,1) 17%,rgba(65,35,98,1) 17%,rgba(68,35,99,1) 17%,rgba(69,38,100,1) 18%,rgba(69,36,99,1) 19%,rgba(73,39,100,1) 20%,rgba(75,40,101,1) 22%,rgba(80,43,102,1) 24%,rgba(80,42,101,1) 25%,rgba(120,68,111,1) 43%,rgba(126,73,112,1) 45%,rgba(126,71,112,1) 45%,rgba(127,74,113,1) 46%,rgba(137,79,113,1) 50%,rgba(149,89,118,1) 55%,rgba(148,87,117,1) 55%,rgba(171,104,123,1) 65%,rgba(175,107,122,1) 67%,rgba(194,120,127,1) 75%,rgba(192,120,126,1) 76%,rgba(198,123,128,1) 78%,rgba(213,136,132,1) 88%,rgba(217,137,133,1) 89%,rgba(222,141,134,1) 94%,rgba(228,144,135,1) 97%,rgba(226,144,136,1) 98%,rgba(230,146,136,1) 99%,rgba(228,146,136,1) 100%,rgba(231,147,137,1) 100%);
	color: #fff;
	padding: 10px 5px 7px;
	&.reverse{
      background: linear-gradient(to right, rgba(229,147,136,1) 0%,rgba(216,136,133,1) 12%,rgba(196,122,127,1) 24%,rgba(193,121,127,1) 24%,rgba(195,121,127,1) 24%,rgba(186,116,126,1) 28%,rgba(179,108,122,1) 32%,rgba(175,106,124,1) 33%,rgba(173,105,121,1) 34%,rgba(154,93,119,1) 43%,rgba(144,86,116,1) 46%,rgba(144,84,116,1) 48%,rgba(139,82,114,1) 49%,rgba(138,81,115,1) 50%,rgba(120,68,111,1) 57%,rgba(117,66,110,1) 59%,rgba(113,64,109,1) 60%,rgba(102,55,106,1) 65%,rgba(91,51,105,1) 70%,rgba(87,46,103,1) 72%,rgba(88,48,103,1) 72%,rgba(75,40,101,1) 78%,rgba(72,38,100,1) 81%,rgba(65,35,99,1) 83%,rgba(67,35,99,1) 84%,rgba(64,34,98,1) 84%,rgba(58,32,98,1) 89%,rgba(55,31,95,1) 89%,rgba(57,31,97,1) 89%,rgba(54,30,95,1) 90%,rgba(56,30,97,1) 90%,rgba(54,30,95,1) 90%,rgba(54,30,97,1) 92%,rgba(52,28,95,1) 92%,rgba(53,30,97,1) 92%,rgba(51,27,94,1) 93%,rgba(47,26,96,1) 97%,rgba(44,25,93,1) 98%,rgba(43,25,93,1) 100%);
	}
	h3{
		margin: 0;
		font:28px/30px 'MyriadPro_Cond_bold';
	}
}
.calc_cnt{
	background: #fff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 35px 17px 21px;
	width: 100%;
	.dropdown-menu{
		min-width: auto;
	}
	&:after,&:before{
		display: table;
		clear: both;
		content: '';
	}
	.txt_info{
		h4{
			color: #480f63;
			margin: 0;
			font:18px/22px 'MyriadPro_Cond_bold';
			padding-bottom: 7px;
		}
		p{
			margin: 0;
			color: rgba(#480f63, .74);
			font:18px/22px 'MyriadPro_Cond';
			span{
				padding-left: 25px;
				@include media-breakpoint-down(md){
					padding-left: 0;
					padding-right: 10px;
				}
			}
		}
	}
	.form-control{
		background: #edecec;
		border-color: #edecec;
		border-radius: 20px;
		color: #480f63;
		font:24px/28px 'MyriadPro_Cond';
		padding-right: 9px !important;
		padding-left: 3px !important;
		// border-right-color: transparent !important;
		&:focus{
			border-color: #bba9c3;
		}
	}
	.input-group-prepend{
		width: 80px;
		.input-group-text{
			background: #edecec;
			border-color: #edecec;
			padding-right: 5px;
			width: 100%;
			border-bottom-left-radius: 20px;
			border-top-left-radius: 20px;
			color: #480f63;
			font:18px/28px 'MyriadPro_Cond';
		}
	}
	.input-group-append{
		position: relative;
		&:before{
			content: '';
			width: 1px;
			height: 30px;
			position: absolute;
			top: 50%;
			transform:translateY(-50%);
			left: 0;
			background: #bba9c3;
			display: block;
			z-index: 3;
		}
		button{
			border-bottom-right-radius: 20px;
			border-top-right-radius: 20px;
			background: #edecec;
			border-color: transparent;
			color: #480f63;
			font:18px/22px 'MyriadPro_Cond_bold';
			padding-left: 7px;
			width: 70px;
			text-align: left;
			position: relative;
			&.dropdown-toggle::after{
				content: "\f078";
				border: 0;
				display: block;
				width: 10px;
				height: 22px;
				font: 14px/22px FontAwesome;
				position: absolute;
				top: 50%;
				transform:translateY(-50%);
				right: 17px;
				vertical-align: middle;
				margin: 0;
			}
		}
	}
	.btn-outline-secondary:not(:disabled):not(.disabled):active,
	.btn-outline-secondary:not(:disabled):not(.disabled).active,
	.show > .btn-outline-secondary.dropdown-toggle{
		background: #edecec;
		border-color: #bba9c3;
		color: #480f63;
	}
}
.row-custom{
	@include make-row();
	
	$grid-gutter-width: 5px;
	margin-left: -$grid-gutter-width;
	margin-right: -$grid-gutter-width;
	.col-cstm{
		@include make-col-ready();
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
		margin-bottom: 24px;
		@include media-breakpoint-up(lg) {
			@include make-col(6);
		}
		@include media-breakpoint-down(md) {
			@include make-col(12);
		}
		@include media-breakpoint-only(sm) { @include make-col(6);}
	}
}
.calc_tab_block--in_content .col-cstm{
	@include media-breakpoint-up(md) {
		@include make-col(6);
	}
}
.calc_cnt{
	.jcf-select{
		display: block;
		width: 100%;
	}
}
.article_calc{
	padding-bottom: 65px;
}
.jcf-select{
	background: #edecec;
	border-color: #edecec;
	border-radius: 20px;
	color: #480f63;
	height: 42px;
	margin-bottom: 0;
	cursor: pointer !important;
	.jcf-select-text{
		font:18px/42px 'MyriadPro_Cond';
		position: relative;
		margin-right: 46px;
		margin-left: 12px;
		cursor: pointer;
		img{
			position: absolute;
			top: 50%;
			transform:translateY(-50%);
			right: 0;
			display: block;
			max-height: 20px;
			width: auto;
		}
	}
	.jcf-select-opener{
		background: none;
		&:after{
			content: "\f078";
			font: 14px/22px FontAwesome;
			position: absolute;
			top: 50%;
			right: 13px;
			transform:translateY(-50%);
		}
	}
}
.jcf-list-box .jcf-selected, .jcf-select-drop .jcf-hover{
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}
.jcf-select-drop{
	margin-top: 2px !important;
	img{
		max-width: 30px;
		display: block;
		height: auto;
	}
	.jcf-select-drop-content{
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 0.25rem;
		background: #fff;
	}
	.jcf-list{background: none;}
	ul{
		padding: 8px 0;
		li{
			span{
				padding: 0.25rem 1.5rem 0.25rem 20px !important;
				cursor: pointer !important;
				font-size: 16px;
				line-height: 26px;
				position: relative;
				img{
					// position: absolute;
					// top: 50%;
					// transform:translateY(-50%);
					// left: 15px;
					display: inline-block;
					vertical-align: middle;
					padding-right: 10px;
				}
			}
		}
	}
}
.jcf-focus,.jcf-focus *{
	border-color:#bba9c3 !important;
	transition: border-color 0.15s ease-in-out;
}
.calc_footer{
	margin-top: 27px;
	.btn{
		
		border: 0;
		max-width: 300px;
		margin: 0 auto;
	}
}
.btn_grad{
	background: linear-gradient(to bottom, rgba(248,217,143,1) 0%,rgba(244,205,142,1) 22%,rgba(233,163,137,1) 71%,rgba(229,147,136,1) 100%);
	color: #fff;
	border: 0;
	border-radius: 30px;
	font: 24px/26px 'Myriad_Pro_bold';
	padding: 22px 10px 16px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	&:hover{
		box-shadow: 0 0 30px rgba(0,0,0,0.5);
	}
	&:focus,&:active{
		box-shadow:none;
		background: linear-gradient(to bottom, rgba(248,217,143,1) 0%,rgba(244,205,142,1) 22%,rgba(233,163,137,1) 71%,rgba(229,147,136,1) 100%) !important;
	}
}
.nav-pills {
	padding-left: 17px;
	margin-bottom: 7px;
	.nav-link.active, .show > .nav-link{
		background: #fff;
		color: #474747;
	}
	.nav-link{
		color: #fff;
		font: 27px/37px MyriadPro_Cond;
		padding: 0 35px;
		border-radius: 13px;
	}
}
.line_rate{
	background: #edecec;
	color: #4f4e4e;
	font: 27px/30px MyriadPro_Cond;
	padding: 19px 0;
	span{
		padding: 5px 11px;
	}
}
.title{
	font-family: MyriadPro_Cond;
	span{
		display: inline-block;
		position: relative;
		&:after{
			max-width: 296px;
			width: 100%;
			height: 1px;
			background: #4c6ada;
			content: '';
			bottom: 0;
			left: 50%;
			position: absolute;
			transform:translateX(-50%);
		}
		&.border_left{
			&:after{
				left: 0;
				transform:none;
			}
		}
	}
}
.about_block{
	padding: 56px 0 53px;
	@include media-breakpoint-down(md){
		padding: 20px 0;
	}
	p{
		margin: 0;
		font: 18px/22px MyriadPro_Cond;
	}
	h3{
		font-family: MyriadPro_Cond;
		span{
			padding-bottom: 8px;
		}
		margin-bottom: 27px;
	}
}
.styled{
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	font: 18px/22px MyriadPro_Cond;
	li{
		padding-left: 15px;
		position: relative;
		padding-bottom: 3px;
		&:before{
			content: "\f054";
			font: 14px/22px FontAwesome;
			position: absolute;
			top: 1px;
			left: 0;
			color: #4c6ada;
		}
	}
}
.video_block{
	padding: 15px;
	height: 640px;
	position: relative;
	background: linear-gradient(to right, rgba(90,52,127,1) 0%,rgba(89,55,132,1) 9%,rgba(86,55,132,1) 11%,rgba(89,57,136,1) 14%,rgba(86,56,135,1) 14%,rgba(86,56,136,1) 15%,rgba(87,59,138,1) 16%,rgba(86,57,137,1) 17%,rgba(87,60,139,1) 18%,rgba(85,60,140,1) 21%,rgba(86,61,143,1) 21%,rgba(85,61,141,1) 22%,rgba(86,62,144,1) 22%,rgba(85,62,142,1) 23%,rgba(86,63,145,1) 24%,rgba(84,63,146,1) 26%,rgba(85,67,150,1) 30%,rgba(82,66,149,1) 30%,rgba(84,69,154,1) 33%,rgba(81,68,153,1) 34%,rgba(82,70,155,1) 34%,rgba(82,71,157,1) 38%,rgba(81,73,159,1) 38%,rgba(82,71,158,1) 39%,rgba(81,74,160,1) 39%,rgba(82,76,163,1) 43%,rgba(79,78,166,1) 45%,rgba(81,78,165,1) 45%,rgba(77,86,177,1) 55%,rgba(78,85,176,1) 56%,rgba(78,87,178,1) 56%,rgba(76,86,177,1) 57%,rgba(76,89,180,1) 58%,rgba(77,87,179,1) 58%,rgba(77,91,182,1) 60%,rgba(75,91,182,1) 61%,rgba(78,92,185,1) 63%,rgba(75,92,185,1) 64%,rgba(77,94,187,1) 65%,rgba(74,99,194,1) 71%,rgba(75,103,199,1) 76%,rgba(72,102,199,1) 77%,rgba(75,106,203,1) 81%,rgba(72,105,202,1) 81%,rgba(74,108,206,1) 84%,rgba(71,109,208,1) 88%,rgba(74,110,210,1) 89%,rgba(71,113,212,1) 94%,rgba(74,114,213,1) 95%,rgba(72,114,212,1) 95%,rgba(74,114,214,1) 95%,rgba(71,115,213,1) 97%,rgba(72,116,215,1) 100%);
	color: #fff;
	.play_btn{
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
	}
	h1{font-family: 'MyriadPro_Cond';padding-top: 50px;}
	@include media-breakpoint-down(md){
		height: 400px;
		h1{
			padding-top: 20px;
		}
		.play_btn{
			font-size: 100px;
		}
	}
	@include media-breakpoint-down(sm) {
		height: 200px;
		h1{
			padding-top: 0;
		}
		.play_btn{
			font-size: 70px;
		}
	}
}
.play_btn{
	font-size: 160px;
	line-height: 1;
	color: #fff;
	transition: all 0.3s ease;
	text-shadow:0 0 100px  #000;
	&:hover{
		color: #f59983;
		text-shadow:none;
	}
}
.icon{
	display: inline-block;
	vertical-align: middle;
}

.best_block{
	padding-top: 50px;
	h3{
		margin: 12px 0 0 0;
		font:24px/27px  'MyriadPro_Cond_bold';
		padding-bottom: 7px;
	}
	p{
		margin: 0;
		font:18px/22px 'MyriadPro_Cond';
	}
	.main_row{
		padding: 140px 0 180px;
		@include media-breakpoint-down(md){
			padding: 50px 0 30px;
		}
	}
}
.ready_block{
	background: url(../images/bg2.jpg) no-repeat 50% 50%;
	background-size: cover;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 35px;
	text-align: center !important;
	h1{
		margin: 0;
		font:72px/75px 'MyriadPro_Cond_bold';
		color: #fff;
		padding: 15px;
		display: inline-block;
		vertical-align: middle;
	}
	@include media-breakpoint-down(md) {
		h1{font:35px/38px 'MyriadPro_Cond_bold';}
		.btn_transarent{
			font-size: 25px;
			line-height: 27px;
			padding: 13px 25px 11px;
		}
	}
	@include media-breakpoint-down(sm) {
		padding-top: 10px;
		padding-bottom: 15px;
	}
}
.btn_transarent{
	font:36px/38px 'MyriadPro_Cond_bold';
	color: #fff;
	background: rgba(#000,.55);
	border-radius: 30px;
	padding: 13px 40px 11px;
	border: 1px solid rgba(#000,.2);
	box-shadow:inset 0 1px 3px rgba(#000,0.4) , 0 0 3px rgba(#000,0.4);
	&:hover,&:active,&:focus{
		box-shadow:inset 0 1px 3px rgba(#000,0.4) , 0 0 20px rgba(#000,0.4);
	}
}
.light_box{
	width: 100%;
	max-width: 400px;
	padding-top: 30px 0;
	border-radius: 20px;
}
.form_control_custom{
	border-radius: 13px;
	box-shadow: 0 0 15px 0px rgba(#000,.25);
	font-size: 18px;
	padding-top: 11px;
	padding-bottom: 10px;
	border-color:transparent;
	&:focus{
		border-color: #bba9c3;
	}
}
.wrapper{
	min-height: calc(100vh - 86px);
}
.main_holder{
	padding: 25px 0;
	.bg-white{
		background: #fff;
		border-radius: 13px;
		overflow: hidden;
		box-shadow: 0 0 16px 0px rgba(#000,.3);
	}
}
.sidebar{
	border-right: 1px solid #cac9c9;
	padding: 0;
	&:after{
		content: '';
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		width: 72px;
		background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 28%,rgba(252,252,252,1) 44%,rgba(242,242,242,1) 76%,rgba(229,229,229,1) 100%);
		z-index: 1;
	}
	@include media-breakpoint-up(lg) {
		max-width: 240px;
		.btn_close_menu{display: none;}
	}
	.btn_toogle{display: none;}
	@include media-breakpoint-down(md) {
		&.active{
			position: static !important;
		}
		border: 0;
		padding: 10px;
		.btn_toogle{display: block; margin: 0 auto; max-width: 200px; font-size: 18px; line-height: 22px;padding: 10px 10px 5px;}
		.sidebar_holder{
			position: fixed !important;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			z-index: 1000 !important;
			padding: 15px 45px 15px 15px;
			transition: all 0.3s ease;
			background: linear-gradient(to right, rgba(52,59,139,1) 0%,rgba(51,60,139,1) 7%,rgba(51,56,137,1) 8%,rgba(54,57,138,1) 10%,rgba(52,58,136,1) 10%,rgba(53,56,133,1) 17%,rgba(58,53,133,1) 33%,rgba(59,52,130,1) 34%,rgba(57,50,128,1) 40%,rgba(60,52,129,1) 41%,rgba(60,52,129,1) 43%,rgba(61,50,128,1) 47%,rgba(60,49,125,1) 47%,rgba(60,49,125,1) 50%,rgba(63,49,126,1) 51%,rgba(62,48,125,1) 57%,rgba(64,46,122,1) 57%,rgba(66,45,122,1) 64%,rgba(65,44,121,1) 67%,rgba(64,43,118,1) 68%,rgba(69,41,115,1) 81%,rgba(68,40,117,1) 84%,rgba(68,41,112,1) 87%,rgba(70,40,114,1) 88%,rgba(71,37,111,1) 100%);
			&.opened{
				left: 0;
				.btn_close_menu{
					transition: all 0.3s ease;
					font-size: 30px;
					color: #fff;
					position: absolute;
					right: 15px;
					top: 15px;
					cursor: pointer;
					&:hover{
						color: #d46950;
					}
				}
			}
		}
		.sidebar_nav{
			height: 100%;
			min-height: 100%;
			overflow: auto;
			li{
				padding-bottom: 0;
				border-bottom-color: #fff;
				a{
					color: #fff;
					background: none;
					@include media-breakpoint-down(sm) {
						font-size: 20px;
						padding: 15px;
					}
				}
				&.active a,a:hover{
					color: #d46950;
					background: none !important;
					&:after{
						content: none;
					}
				}
			}
		}
		&:after{
			bottom: -20px;
			top: auto;
			width: 100%;
			height: 20px;
			background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(242,242,242,1) 29%,rgba(248,248,248,1) 51%,rgba(255,255,255,1) 86%,rgba(255,255,255,1) 100%);
		}
	}
}
.sidebar_nav{
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	z-index: 2;
	li{
		padding-bottom: 1px;
		border-bottom: 1px solid #c8c7c8;
		a{
			font:24px/26px 'MyriadPro_Cond';
			color: #585757;
			padding: 27px 10px 27px 25px;
			position: relative;
			display: block;
			vertical-align: middle;
		}
		&.active a,a:hover{
			color: #fff;
			background: linear-gradient(to right, rgba(52,59,139,1) 0%,rgba(51,60,139,1) 7%,rgba(51,56,137,1) 8%,rgba(54,57,138,1) 10%,rgba(52,58,136,1) 10%,rgba(53,56,133,1) 17%,rgba(58,53,133,1) 33%,rgba(59,52,130,1) 34%,rgba(57,50,128,1) 40%,rgba(60,52,129,1) 41%,rgba(60,52,129,1) 43%,rgba(61,50,128,1) 47%,rgba(60,49,125,1) 47%,rgba(60,49,125,1) 50%,rgba(63,49,126,1) 51%,rgba(62,48,125,1) 57%,rgba(64,46,122,1) 57%,rgba(66,45,122,1) 64%,rgba(65,44,121,1) 67%,rgba(64,43,118,1) 68%,rgba(69,41,115,1) 81%,rgba(68,40,117,1) 84%,rgba(68,41,112,1) 87%,rgba(70,40,114,1) 88%,rgba(71,37,111,1) 100%);
			text-decoration: none;
			&:after{
				display: block;
				content: '';
				width: 7px;
				height: 100%;
				background: #d46950;
				position: absolute;
				top: 0;
				right: -1px;
			}
		}
		&:first-child{
			a{
				border-top-left-radius: 13px;
			}
		}
		&:last-child{
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}
.content{
	padding: 30px 15px 50px;
	@include media-breakpoint-up(lg) {
		padding-left: 35px;
		padding-right: 35px;
	}
	@include media-breakpoint-down(md) {
		padding-bottom: 30px;
	}
}
.list_rate{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #666;
	font-size: 18px;
	line-height: 20px;
	padding-top: 50px;
	li{
		border-bottom: 1px solid #dcdcdc;
		padding-top: 12px;
		padding-left: 15px;
		padding-right: 15px;
	}
	@include media-breakpoint-down(lg) {
		text-align: center;
		padding-bottom: 20px;
		padding-top: 0;	
		li{
			border-bottom: 0;
			padding: 5px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}
.calc_tab_block--in_content{
	@include media-breakpoint-up(xl) {
		padding-left: 40px;
	}

	.nav-pills{
		padding-left: 0;
		margin-bottom: 30px;
	}
	.nav-pills .nav-link{
		color: #9f9f9f;
		outline: none;
	}
	.nav-pills .nav-link.active,
	.nav-pills .show > .nav-link{
		background: #ecebeb;
		color: #494949;
	}
	.calc_header{
		display: none;
	}
	.calc_cnt{
		box-shadow: 0 0 16px 0px rgba(#000,.3);
		border-radius: 17px;
	}
}
.settings{
	.nav-pills{
		padding-left: 0;
		border-bottom: 1px solid #dcdcdc;
		padding-bottom: 7px;
		li{
			padding-bottom: 7px;
			a{
				font:18px/20px 'Myriad_Pro';
				color: #737373;
				padding: 9px 20px 7px;
				&.active{
					background: #e8e8e8;
					border-radius: 16px;

				}
			}
		}
	}
	.gray_control{
		font-size: 24px;
		font-family: 'Myriad_Pro';
		color: #737373;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.form-group{
		margin-bottom: 10px;
	}
	.col-form-label{
		@include media-breakpoint-up(lg) {
			font-size: 22px;
			line-height: 26px;
		}
		color: #737373;
		@include media-breakpoint-up(md) {
			padding-right: 0;
			
		}
	}
}
.gray_control{
	background: #e8e8e8;
	border-radius: 20px;
	border-color: #e8e8e8;
	padding-left: 20px;
	&:focus{
		border-color: #bba9c3;
	}
}
.cstm_long_select{
	.jcf-select{
		display: block;
		height: 46px;
		.jcf-select-opener::after{
			color: #737373;
		}
		.jcf-select-text{
			color: #737373;
			margin-left: 20px;
			font:24px/46px 'Myriad_Pro';
		}
	}
}
.title_info{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 5px;
	h2{
		margin: 0;
		font-size: 24px;
		line-height: 26px;
		color: #666;
		font-weight: normal;
		span{
			text-decoration: underline;
			font-family: 'Myriad_Pro_bold';
		}
	}
	.col-auto{
		max-width: 100%;
	}
	h4{
		font-weight: normal;
		color: #666;
		font-size: 18px;
		line-height: 20px;
		margin: 0;
		strong{
			font-weight: normal;
			color: #272626;
		}
	}
}
.bar_info{
	border-radius: 13px;
	padding: 15px 0;
	h3{
		margin: 0;
		font-size: 16px;
		line-height: 18px;
		color: #707070;
		font-weight: normal;
		padding-bottom: 4px;
	}
	.fa{
		font-size: 42px;
		color: #949494;
		padding-bottom: 20px;
	}
	em{
		font-style: normal;
		font-size: 12px;
		line-height: 15px;
		display: block;
	}
	.resource_img{
		padding-bottom: 10px;
		span{
			font-size: 16px;
		}
	}
}
.col_max_width{
	@include media-breakpoint-up(md) {
		max-width: 33.33%;
	}
	
}
.bar_status{
	h3{
		margin: 0;
		font-size: 16px;
		line-height: 22px;
		display: inline-block;
		vertical-align: middle;
		color: #707070;
		font-weight: normal;
	}
	.badge{
		color: #fff;
		font-size: 16px;
		line-height: 18px;
		min-width: 87px;
		padding: 5px 10px 3px;
		font-weight: normal;
		vertical-align: middle;
		box-shadow: 0 0 15px rgba(0,0,0,0.15);
	}
}
.blue_grad{
	background:$blue_grad;
}
.pink_grad{
	background:$pink_grad;
}
.green_grad{
	background: $green_grad;
}
.orange_grad{
	background: $orange_grad;
	background-repeat: no-repeat;
	&:active,&:focus,&:hover{
		background: $orange_grad !important;
		box-shadow: none !important;
	}
}
.gray_grad{
	background: $gray_grad;
	background-repeat: no-repeat;
	&:active,&:focus,&:hover{
		background: $gray_grad !important;
		box-shadow: none !important;
	}
}
.details{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	line-height: 22px;
	strong{
		font-family: 'Myriad_Pro_bold';
	}
}
.details_block{
	p{
		margin: 0;
		font-size: 14px;
		line-height: 17px;
		color: #707070;
		span{
			display: block;
		}
		strong{
			font-weight: normal;
			color: #232323;
		}
		a{
			color: #609bea;
			text-decoration: underline;
			&:hover{text-decoration: none;}
		}
	}
	h5{
		margin: 0;
	}
}
.card_info{
	border-radius: 13px;
	padding: 20px 20px 10px;
	.form-group{
		margin-bottom: 10px;
		.form-control{
			background:#fff;
			border-color: transparent;
			font-size: 18px;
			color: #bcbaba;
			padding-top: 8px;
			padding-bottom: 4px;
			&:focus{
				border-color: #bba9c3;
			}
		}
	}
	.form-text{
		padding-left: 20px;
		font-size: 12px;
		line-height: 14px;
	}
}
.custom_gutters{
	$grid-gutter-width: 8px;
	margin-left: -$grid-gutter-width;
	margin-right: -$grid-gutter-width;
	margin-bottom: 0 !important;
	[class *= "col"]{
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
		margin-bottom: 10px !important;
		.form-control{
			text-align: center;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	a{
		font-size: 14px;
		line-height: 20px;
		color: #609bea;
		text-decoration: underline;
		&:hover{text-decoration: none;}
	}
}
.card_info__footer{
	.btn{
		font-size: 18px;
		border-radius: 16px;
		max-width: 150px;
		width: 100%;
		border: 0;
		box-shadow: 0 0 15px rgba(0,0,0,0.15);
		@include media-breakpoint-only(xs) {
			max-width: none;
		}
	}
	
}
.card_info_status{
	border-radius: 13px;
	padding: 15px;
	height: 190px;
	font-size: 16px;
	line-height: 20px;
	strong{
		font-weight: normal;
		font-family: 'Myriad_Pro_bold';
	}
	p{margin: 0;}
	.icon{
		display: block;
		margin: 0 auto 15px;
	}
}
// steps
.step-anchor{
	border: 0;
	justify-content:center;
	position: relative;
	margin-bottom: 80px;
	@include media-breakpoint-down(md){
		margin-bottom: 40px;
	}
	&:before{
		position: absolute;
		top: 50%;
		left: -15px;
		content: '';
		height: 4px;
		transform:translateY(-50%);
		width: calc(100% + 30px);
		background: #ffa200;
		z-index: 2;
	}
	li{
		@include media-breakpoint-up(lg) {
			margin: 0 32px;
		}
		@include media-breakpoint-down(md) {
			margin: 0 10px;
		}
		position: relative;
		z-index: 10;
		a{
			display: flex;
			justify-content:center;
			align-items:center;
			padding: 0;
			width: 86px;
			height: 86px;
			background: #fff;
			border: 0 !important;
			border-radius: 50% !important;
			position: relative;
			z-index: 1;
			box-shadow: 0 0 15px rgba(0,0,0,0.25);
		}
		@include media-breakpoint-down(sm) {
			margin: 0 2px;
			a{
				width: 50px;
				height: 50px;
			}
		}
		&.finish.active{
			a{
				&:after{content: none !important;}
				.success_step{
					@include sprite($success_step_done);
				}
			}
		}
	}
	.active{
		a{
			&:after{
				display: block;
				content: '';
				position: absolute;
				bottom: -24px;
				left: 50%;
				transform:translateX(-50%);
				@include sprite($current_step);
			}
		}
	}
	.done{
		a{
			&:after{
				display: block;
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				@include sprite($done_step);
			}
		}
	}
	.done{
		a{
			.mail_step{
				@include sprite($mail_step_done);
			}
		}
	}
	.done{
		a{
			.phone_step{
				@include sprite($phone_step_done);
			}
		}
	}
	.done{
		a{
			.card_step{
				@include sprite($card_step_done);
			}
		}
	}
	.done{
		a{
			.upload_step{
				@include sprite($upload_step_done);
			}
		}
	}
	.done{
		a{
			.success_step{
				@include sprite($success_step_done);
			}
		}
	}
}
.steps_holder{
	padding: 23px 0;
	@include media-breakpoint-up(sm) {
		min-height: 400px;
	}
}
.success_info{
	border-radius: 13px;
	padding: 15px;
	p{
		margin: 0;
		font-size: 24px;
		line-height: 28px;
	}
}
.custom_forms{
	h3{
		margin: 0;
		color: #444343;
		font-size: 30px;
		line-height: 33px;
		font-weight: normal;
	}
	.form-text{
		font-size: 14px;
		line-height: 16px;
		color: #767676;
		padding-left: 20px;
	}
	.custom-file{
		height: 50px;
	}
	.custom-file-label{
		border-radius: 13px;
		box-shadow: 0 0 15px rgba(0,0,0,0.25);
		color: #767676;
		margin-bottom: 0;
		font-size: 18px;
		line-height: 20px;
		padding: 15px 80px 0 20px;
		height: 50px;
		&:after{
			background: #fd9e17;
			color: #fff;
			font-size: 18px;
			border-left: 0;
			height: 48px;
			padding-top: 12px;
			padding-bottom: 4px;
			border-top-right-radius: 13px;
			border-bottom-right-radius: 13px;
		}
	}
	.jcf-select{
		width: 100%;
		display: block;
		background: none;
		box-shadow: 0 0 15px rgba(0,0,0,0.25);
		height: 50px;
		border-radius: 13px;
		&.jcf-drop-active{
			box-shadow: none;
		}
		.jcf-select-text{
			font:18px/50px 'Myriad_Pro';
			color: #646464;
			margin-left: 20px;
		}
	}
	label{
		font-size: 18px;
		line-height: 20px;
		color: #646464;
	}
	.form-control{
		border-radius: 13px;
		box-shadow: 0 0 15px rgba(0,0,0,0.25);
		font-family:  'Myriad_Pro';
		font-size: 18px;
		padding: 11px 20px 9px;
		border-color: transparent;
		&:focus{
			box-shadow: none;
			border-color: #bba9c3;
		}
	}
	.has-error{
		.form-control{
			border-color: red;
		}
	}
}

.sw-toolbar{
	justify-content:center !important;
	// display: none;
	margin-top: 30px;
	&.processing{
		// display: flex;
	}
	.sw-btn-prev{
		&.disabled{display: none;}
	}
	.sw-btn-group{margin: 0 !important;}
	.sw-btn-next,.sw-btn-prev{
		min-width: 200px;
		border-radius: 26px !important;
		background:$orange_grad;
		border: 0;
		text-transform: uppercase;
		font-size: 24px;
		padding: 11px 10px 8px;
		box-shadow: 0 0 15px rgba(0,0,0,0.25);
		margin: 0 10px !important;
		&:hover{
			box-shadow: 0 0 10px rgba(0,0,0,0.25);
		}
		&:active{
			background:$orange_grad !important;
		}
	}
	.sw-btn-prev{
		border: 0 !important;
		color: #666;
		background: $gray_grad;
		&:active{
			background:$gray_grad !important;
			color: #666 !important;
		}
	}
	@include media-breakpoint-down(smm) {
		.sw-btn-group{
			display: block !important;
		}
		.sw-btn-next,.sw-btn-prev{
			min-width: none;
			width: 100%;
			margin: 0 !important;
		}
		.btn + .btn{
			margin-top: 10px !important;
		}
	}
}
.inline_select{
	width: auto !important;
	.jcf-select{
		// display: inline-block;
		// min-width: 50%;
		// width: auto;
	}
	strong{
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #767676;
		// padding-right: 15px;
		// min-width: 50%;
	}
}
.sw-container{
	// min-height: 200px !important;
}
// #step-1{
// 	background: #000;
// }
// #step-2{
// 	background: red;
// }
// #step-3{
// 	background: green;
// }
// #step-4{
// 	background: orange;
// }