.home_page{
	footer{
		height: 265px;
		padding: 30px 0;
		background: #323232;
		color: #fff;
		text-align: center;
		.logo{display: block;}
		.copy{
			display: block;
			font: 18px/20px 'MyriadPro_Cond';
		}
		@include media-breakpoint-down(md) {
			height: 200px;
		}
	}
}
.footer{
	.navbar-dark .navbar-toggler{border-color: #fff;}
	a{outline: none;}
	> .container{
		padding: 5px 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#343a88+0,3b3887+9,3b3887+14,3f3888+15,403788+21,433789+21,433688+25,483489+31,4b358a+31,4c368b+33,4b3389+37,4e348b+37,4e348b+41,53328b+43,543289+46,56348b+47,55318b+49,57338d+50,57338d+51,59328b+51,58318c+53,61308c+61,5f308c+64,642e8c+65,762a8e+100 */
		background: #343a88; /* Old browsers */
		background: -moz-linear-gradient(left, #343a88 0%, #3b3887 9%, #3b3887 14%, #3f3888 15%, #403788 21%, #433789 21%, #433688 25%, #483489 31%, #4b358a 31%, #4c368b 33%, #4b3389 37%, #4e348b 37%, #4e348b 41%, #53328b 43%, #543289 46%, #56348b 47%, #55318b 49%, #57338d 50%, #57338d 51%, #59328b 51%, #58318c 53%, #61308c 61%, #5f308c 64%, #642e8c 65%, #762a8e 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #343a88 0%,#3b3887 9%,#3b3887 14%,#3f3888 15%,#403788 21%,#433789 21%,#433688 25%,#483489 31%,#4b358a 31%,#4c368b 33%,#4b3389 37%,#4e348b 37%,#4e348b 41%,#53328b 43%,#543289 46%,#56348b 47%,#55318b 49%,#57338d 50%,#57338d 51%,#59328b 51%,#58318c 53%,#61308c 61%,#5f308c 64%,#642e8c 65%,#762a8e 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #343a88 0%,#3b3887 9%,#3b3887 14%,#3f3888 15%,#403788 21%,#433789 21%,#433688 25%,#483489 31%,#4b358a 31%,#4c368b 33%,#4b3389 37%,#4e348b 37%,#4e348b 41%,#53328b 43%,#543289 46%,#56348b 47%,#55318b 49%,#57338d 50%,#57338d 51%,#59328b 51%,#58318c 53%,#61308c 61%,#5f308c 64%,#642e8c 65%,#762a8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a88', endColorstr='#762a8e',GradientType=1 ); /* IE6-9 */
		
		color: #d9dcdf;
		@include media-breakpoint-up(xl) {
			border-radius: 13px;
		}
	}
	.navbar-nav{
		.dropdown-toggle::after{
			border: 0;
			content: "\f078";
			font:12px/14px FontAwesome;
			@include media-breakpoint-up(md) {
				content: "\f077";
			}
		}

	}
	.navbar-dark .navbar-nav .nav-link{
		color: #d9dcdf;
	}
	.navbar-dark .navbar-nav .nav-link:hover,
	.navbar-dark .navbar-nav .nav-link:focus{
		color: #ffa200;
	}
	.nav-item{
		@include media-breakpoint-up(md) {
			position: relative;
			&:before{
				width: 1px;
				height: 14px;
				background: #d9dcdf;
				position: absolute;
				top: 50%;
				transform:translateY(-50%);
				left: 0;
				display: block;
				content: '';
			}
			&:first-child{
				&:before{content: none;}
			}
		}
	}
}