// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$canceled-name: 'canceled';
$canceled-x: 0px;
$canceled-y: 0px;
$canceled-offset-x: 0px;
$canceled-offset-y: 0px;
$canceled-width: 40px;
$canceled-height: 40px;
$canceled-total-width: 206px;
$canceled-total-height: 154px;
$canceled-image: '../images/sprite.png';
$canceled: (0px, 0px, 0px, 0px, 40px, 40px, 206px, 154px, '../images/sprite.png', 'canceled', );
$card-step-name: 'card_step';
$card-step-x: 0px;
$card-step-y: 91px;
$card-step-offset-x: 0px;
$card-step-offset-y: -91px;
$card-step-width: 42px;
$card-step-height: 30px;
$card-step-total-width: 206px;
$card-step-total-height: 154px;
$card-step-image: '../images/sprite.png';
$card-step: (0px, 91px, 0px, -91px, 42px, 30px, 206px, 154px, '../images/sprite.png', 'card_step', );
$card-step-done-name: 'card_step_done';
$card-step-done-x: 47px;
$card-step-done-y: 91px;
$card-step-done-offset-x: -47px;
$card-step-done-offset-y: -91px;
$card-step-done-width: 42px;
$card-step-done-height: 30px;
$card-step-done-total-width: 206px;
$card-step-done-total-height: 154px;
$card-step-done-image: '../images/sprite.png';
$card-step-done: (47px, 91px, -47px, -91px, 42px, 30px, 206px, 154px, '../images/sprite.png', 'card_step_done', );
$current-step-name: 'current_step';
$current-step-x: 182px;
$current-step-y: 90px;
$current-step-offset-x: -182px;
$current-step-offset-y: -90px;
$current-step-width: 23px;
$current-step-height: 15px;
$current-step-total-width: 206px;
$current-step-total-height: 154px;
$current-step-image: '../images/sprite.png';
$current-step: (182px, 90px, -182px, -90px, 23px, 15px, 206px, 154px, '../images/sprite.png', 'current_step', );
$done-step-name: 'done_step';
$done-step-x: 94px;
$done-step-y: 91px;
$done-step-offset-x: -94px;
$done-step-offset-y: -91px;
$done-step-width: 26px;
$done-step-height: 20px;
$done-step-total-width: 206px;
$done-step-total-height: 154px;
$done-step-image: '../images/sprite.png';
$done-step: (94px, 91px, -94px, -91px, 26px, 20px, 206px, 154px, '../images/sprite.png', 'done_step', );
$ic1-name: 'ic1';
$ic1-x: 0px;
$ic1-y: 45px;
$ic1-offset-x: 0px;
$ic1-offset-y: -45px;
$ic1-width: 36px;
$ic1-height: 41px;
$ic1-total-width: 206px;
$ic1-total-height: 154px;
$ic1-image: '../images/sprite.png';
$ic1: (0px, 45px, 0px, -45px, 36px, 41px, 206px, 154px, '../images/sprite.png', 'ic1', );
$ic2-name: 'ic2';
$ic2-x: 45px;
$ic2-y: 0px;
$ic2-offset-x: -45px;
$ic2-offset-y: 0px;
$ic2-width: 42px;
$ic2-height: 36px;
$ic2-total-width: 206px;
$ic2-total-height: 154px;
$ic2-image: '../images/sprite.png';
$ic2: (45px, 0px, -45px, 0px, 42px, 36px, 206px, 154px, '../images/sprite.png', 'ic2', );
$ic3-name: 'ic3';
$ic3-x: 41px;
$ic3-y: 45px;
$ic3-offset-x: -41px;
$ic3-offset-y: -45px;
$ic3-width: 38px;
$ic3-height: 37px;
$ic3-total-width: 206px;
$ic3-total-height: 154px;
$ic3-image: '../images/sprite.png';
$ic3: (41px, 45px, -41px, -45px, 38px, 37px, 206px, 154px, '../images/sprite.png', 'ic3', );
$mail-step-name: 'mail_step';
$mail-step-x: 0px;
$mail-step-y: 126px;
$mail-step-offset-x: 0px;
$mail-step-offset-y: -126px;
$mail-step-width: 40px;
$mail-step-height: 28px;
$mail-step-total-width: 206px;
$mail-step-total-height: 154px;
$mail-step-image: '../images/sprite.png';
$mail-step: (0px, 126px, 0px, -126px, 40px, 28px, 206px, 154px, '../images/sprite.png', 'mail_step', );
$mail-step-done-name: 'mail_step_done';
$mail-step-done-x: 45px;
$mail-step-done-y: 126px;
$mail-step-done-offset-x: -45px;
$mail-step-done-offset-y: -126px;
$mail-step-done-width: 40px;
$mail-step-done-height: 28px;
$mail-step-done-total-width: 206px;
$mail-step-done-total-height: 154px;
$mail-step-done-image: '../images/sprite.png';
$mail-step-done: (45px, 126px, -45px, -126px, 40px, 28px, 206px, 154px, '../images/sprite.png', 'mail_step_done', );
$phone-step-name: 'phone_step';
$phone-step-x: 182px;
$phone-step-y: 45px;
$phone-step-offset-x: -182px;
$phone-step-offset-y: -45px;
$phone-step-width: 24px;
$phone-step-height: 40px;
$phone-step-total-width: 206px;
$phone-step-total-height: 154px;
$phone-step-image: '../images/sprite.png';
$phone-step: (182px, 45px, -182px, -45px, 24px, 40px, 206px, 154px, '../images/sprite.png', 'phone_step', );
$phone-step-done-name: 'phone_step_done';
$phone-step-done-x: 182px;
$phone-step-done-y: 0px;
$phone-step-done-offset-x: -182px;
$phone-step-done-offset-y: 0px;
$phone-step-done-width: 24px;
$phone-step-done-height: 40px;
$phone-step-done-total-width: 206px;
$phone-step-done-total-height: 154px;
$phone-step-done-image: '../images/sprite.png';
$phone-step-done: (182px, 0px, -182px, 0px, 24px, 40px, 206px, 154px, '../images/sprite.png', 'phone_step_done', );
$success-name: 'success';
$success-x: 137px;
$success-y: 0px;
$success-offset-x: -137px;
$success-offset-y: 0px;
$success-width: 40px;
$success-height: 30px;
$success-total-width: 206px;
$success-total-height: 154px;
$success-image: '../images/sprite.png';
$success: (137px, 0px, -137px, 0px, 40px, 30px, 206px, 154px, '../images/sprite.png', 'success', );
$success-step-name: 'success_step';
$success-step-x: 137px;
$success-step-y: 35px;
$success-step-offset-x: -137px;
$success-step-offset-y: -35px;
$success-step-width: 40px;
$success-step-height: 30px;
$success-step-total-width: 206px;
$success-step-total-height: 154px;
$success-step-image: '../images/sprite.png';
$success-step: (137px, 35px, -137px, -35px, 40px, 30px, 206px, 154px, '../images/sprite.png', 'success_step', );
$success-step-done-name: 'success_step_done';
$success-step-done-x: 137px;
$success-step-done-y: 70px;
$success-step-done-offset-x: -137px;
$success-step-done-offset-y: -70px;
$success-step-done-width: 40px;
$success-step-done-height: 30px;
$success-step-done-total-width: 206px;
$success-step-done-total-height: 154px;
$success-step-done-image: '../images/sprite.png';
$success-step-done: (137px, 70px, -137px, -70px, 40px, 30px, 206px, 154px, '../images/sprite.png', 'success_step_done', );
$upload-step-name: 'upload_step';
$upload-step-x: 92px;
$upload-step-y: 0px;
$upload-step-offset-x: -92px;
$upload-step-offset-y: 0px;
$upload-step-width: 40px;
$upload-step-height: 34px;
$upload-step-total-width: 206px;
$upload-step-total-height: 154px;
$upload-step-image: '../images/sprite.png';
$upload-step: (92px, 0px, -92px, 0px, 40px, 34px, 206px, 154px, '../images/sprite.png', 'upload_step', );
$upload-step-done-name: 'upload_step_done';
$upload-step-done-x: 92px;
$upload-step-done-y: 39px;
$upload-step-done-offset-x: -92px;
$upload-step-done-offset-y: -39px;
$upload-step-done-width: 40px;
$upload-step-done-height: 34px;
$upload-step-done-total-width: 206px;
$upload-step-done-total-height: 154px;
$upload-step-done-image: '../images/sprite.png';
$upload-step-done: (92px, 39px, -92px, -39px, 40px, 34px, 206px, 154px, '../images/sprite.png', 'upload_step_done', );
$spritesheet-width: 206px;
$spritesheet-height: 154px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($canceled, $card-step, $card-step-done, $current-step, $done-step, $ic1, $ic2, $ic3, $mail-step, $mail-step-done, $phone-step, $phone-step-done, $success, $success-step, $success-step-done, $upload-step, $upload-step-done, );
$spritesheet: (206px, 154px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
