
@import
	'fonts',
	'_custom_bootstrap_vatiables.scss',
	'../../bower_components/bootstrap/scss/_functions.scss',
	'../../bower_components/bootstrap/scss/_variables.scss',
	'../../bower_components/bootstrap/scss/_mixins.scss',
	'_param',
	'_sprite',
	'_header',
	'_footer';
.container{
	width: 100%;
	max-width: 1350px;
}
h1{
	font-size: 48px;
	line-height: 70px;
	@include media-breakpoint-down(md){
		font-size: 38px;
		line-height: 40px;
	}
}
h3{
	font-size: 36px;
	line-height: 43px;
	@include media-breakpoint-down(md){
		font-size: 30px;
		line-height: 35px;
	}
}
.calc_header{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: rgb(43,24,93);
	background: -moz-linear-gradient(left, rgba(43,24,93,1) 0%, rgba(47,26,96,1) 3%, rgba(45,26,94,1) 3%, rgba(49,27,95,1) 4%, rgba(49,27,94,1) 7%, rgba(53,30,97,1) 8%, rgba(53,28,95,1) 9%, rgba(56,30,97,1) 10%, rgba(54,30,95,1) 10%, rgba(58,31,98,1) 11%, rgba(60,33,98,1) 14%, rgba(63,33,98,1) 14%, rgba(67,35,99,1) 17%, rgba(65,35,98,1) 17%, rgba(68,35,99,1) 17%, rgba(69,38,100,1) 18%, rgba(69,36,99,1) 19%, rgba(73,39,100,1) 20%, rgba(75,40,101,1) 22%, rgba(80,43,102,1) 24%, rgba(80,42,101,1) 25%, rgba(120,68,111,1) 43%, rgba(126,73,112,1) 45%, rgba(126,71,112,1) 45%, rgba(127,74,113,1) 46%, rgba(137,79,113,1) 50%, rgba(149,89,118,1) 55%, rgba(148,87,117,1) 55%, rgba(171,104,123,1) 65%, rgba(175,107,122,1) 67%, rgba(194,120,127,1) 75%, rgba(192,120,126,1) 76%, rgba(198,123,128,1) 78%, rgba(213,136,132,1) 88%, rgba(217,137,133,1) 89%, rgba(222,141,134,1) 94%, rgba(228,144,135,1) 97%, rgba(226,144,136,1) 98%, rgba(230,146,136,1) 99%, rgba(228,146,136,1) 100%, rgba(231,147,137,1) 100%);
	background: -webkit-linear-gradient(left, rgba(43,24,93,1) 0%,rgba(47,26,96,1) 3%,rgba(45,26,94,1) 3%,rgba(49,27,95,1) 4%,rgba(49,27,94,1) 7%,rgba(53,30,97,1) 8%,rgba(53,28,95,1) 9%,rgba(56,30,97,1) 10%,rgba(54,30,95,1) 10%,rgba(58,31,98,1) 11%,rgba(60,33,98,1) 14%,rgba(63,33,98,1) 14%,rgba(67,35,99,1) 17%,rgba(65,35,98,1) 17%,rgba(68,35,99,1) 17%,rgba(69,38,100,1) 18%,rgba(69,36,99,1) 19%,rgba(73,39,100,1) 20%,rgba(75,40,101,1) 22%,rgba(80,43,102,1) 24%,rgba(80,42,101,1) 25%,rgba(120,68,111,1) 43%,rgba(126,73,112,1) 45%,rgba(126,71,112,1) 45%,rgba(127,74,113,1) 46%,rgba(137,79,113,1) 50%,rgba(149,89,118,1) 55%,rgba(148,87,117,1) 55%,rgba(171,104,123,1) 65%,rgba(175,107,122,1) 67%,rgba(194,120,127,1) 75%,rgba(192,120,126,1) 76%,rgba(198,123,128,1) 78%,rgba(213,136,132,1) 88%,rgba(217,137,133,1) 89%,rgba(222,141,134,1) 94%,rgba(228,144,135,1) 97%,rgba(226,144,136,1) 98%,rgba(230,146,136,1) 99%,rgba(228,146,136,1) 100%,rgba(231,147,137,1) 100%);
	background: linear-gradient(to right, rgba(43,24,93,1) 0%,rgba(47,26,96,1) 3%,rgba(45,26,94,1) 3%,rgba(49,27,95,1) 4%,rgba(49,27,94,1) 7%,rgba(53,30,97,1) 8%,rgba(53,28,95,1) 9%,rgba(56,30,97,1) 10%,rgba(54,30,95,1) 10%,rgba(58,31,98,1) 11%,rgba(60,33,98,1) 14%,rgba(63,33,98,1) 14%,rgba(67,35,99,1) 17%,rgba(65,35,98,1) 17%,rgba(68,35,99,1) 17%,rgba(69,38,100,1) 18%,rgba(69,36,99,1) 19%,rgba(73,39,100,1) 20%,rgba(75,40,101,1) 22%,rgba(80,43,102,1) 24%,rgba(80,42,101,1) 25%,rgba(120,68,111,1) 43%,rgba(126,73,112,1) 45%,rgba(126,71,112,1) 45%,rgba(127,74,113,1) 46%,rgba(137,79,113,1) 50%,rgba(149,89,118,1) 55%,rgba(148,87,117,1) 55%,rgba(171,104,123,1) 65%,rgba(175,107,122,1) 67%,rgba(194,120,127,1) 75%,rgba(192,120,126,1) 76%,rgba(198,123,128,1) 78%,rgba(213,136,132,1) 88%,rgba(217,137,133,1) 89%,rgba(222,141,134,1) 94%,rgba(228,144,135,1) 97%,rgba(226,144,136,1) 98%,rgba(230,146,136,1) 99%,rgba(228,146,136,1) 100%,rgba(231,147,137,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b185d', endColorstr='#e79389',GradientType=1 );
	color: #fff;
	padding: 10px 5px 7px;
	&.reverse{
		background: rgb(229,147,136);
background: -moz-linear-gradient(left, rgba(229,147,136,1) 0%, rgba(216,136,133,1) 12%, rgba(196,122,127,1) 24%, rgba(193,121,127,1) 24%, rgba(195,121,127,1) 24%, rgba(186,116,126,1) 28%, rgba(179,108,122,1) 32%, rgba(175,106,124,1) 33%, rgba(173,105,121,1) 34%, rgba(154,93,119,1) 43%, rgba(144,86,116,1) 46%, rgba(144,84,116,1) 48%, rgba(139,82,114,1) 49%, rgba(138,81,115,1) 50%, rgba(120,68,111,1) 57%, rgba(117,66,110,1) 59%, rgba(113,64,109,1) 60%, rgba(102,55,106,1) 65%, rgba(91,51,105,1) 70%, rgba(87,46,103,1) 72%, rgba(88,48,103,1) 72%, rgba(75,40,101,1) 78%, rgba(72,38,100,1) 81%, rgba(65,35,99,1) 83%, rgba(67,35,99,1) 84%, rgba(64,34,98,1) 84%, rgba(58,32,98,1) 89%, rgba(55,31,95,1) 89%, rgba(57,31,97,1) 89%, rgba(54,30,95,1) 90%, rgba(56,30,97,1) 90%, rgba(54,30,95,1) 90%, rgba(54,30,97,1) 92%, rgba(52,28,95,1) 92%, rgba(53,30,97,1) 92%, rgba(51,27,94,1) 93%, rgba(47,26,96,1) 97%, rgba(44,25,93,1) 98%, rgba(43,25,93,1) 100%);
background: -webkit-linear-gradient(left, rgba(229,147,136,1) 0%,rgba(216,136,133,1) 12%,rgba(196,122,127,1) 24%,rgba(193,121,127,1) 24%,rgba(195,121,127,1) 24%,rgba(186,116,126,1) 28%,rgba(179,108,122,1) 32%,rgba(175,106,124,1) 33%,rgba(173,105,121,1) 34%,rgba(154,93,119,1) 43%,rgba(144,86,116,1) 46%,rgba(144,84,116,1) 48%,rgba(139,82,114,1) 49%,rgba(138,81,115,1) 50%,rgba(120,68,111,1) 57%,rgba(117,66,110,1) 59%,rgba(113,64,109,1) 60%,rgba(102,55,106,1) 65%,rgba(91,51,105,1) 70%,rgba(87,46,103,1) 72%,rgba(88,48,103,1) 72%,rgba(75,40,101,1) 78%,rgba(72,38,100,1) 81%,rgba(65,35,99,1) 83%,rgba(67,35,99,1) 84%,rgba(64,34,98,1) 84%,rgba(58,32,98,1) 89%,rgba(55,31,95,1) 89%,rgba(57,31,97,1) 89%,rgba(54,30,95,1) 90%,rgba(56,30,97,1) 90%,rgba(54,30,95,1) 90%,rgba(54,30,97,1) 92%,rgba(52,28,95,1) 92%,rgba(53,30,97,1) 92%,rgba(51,27,94,1) 93%,rgba(47,26,96,1) 97%,rgba(44,25,93,1) 98%,rgba(43,25,93,1) 100%);
background: linear-gradient(to right, rgba(229,147,136,1) 0%,rgba(216,136,133,1) 12%,rgba(196,122,127,1) 24%,rgba(193,121,127,1) 24%,rgba(195,121,127,1) 24%,rgba(186,116,126,1) 28%,rgba(179,108,122,1) 32%,rgba(175,106,124,1) 33%,rgba(173,105,121,1) 34%,rgba(154,93,119,1) 43%,rgba(144,86,116,1) 46%,rgba(144,84,116,1) 48%,rgba(139,82,114,1) 49%,rgba(138,81,115,1) 50%,rgba(120,68,111,1) 57%,rgba(117,66,110,1) 59%,rgba(113,64,109,1) 60%,rgba(102,55,106,1) 65%,rgba(91,51,105,1) 70%,rgba(87,46,103,1) 72%,rgba(88,48,103,1) 72%,rgba(75,40,101,1) 78%,rgba(72,38,100,1) 81%,rgba(65,35,99,1) 83%,rgba(67,35,99,1) 84%,rgba(64,34,98,1) 84%,rgba(58,32,98,1) 89%,rgba(55,31,95,1) 89%,rgba(57,31,97,1) 89%,rgba(54,30,95,1) 90%,rgba(56,30,97,1) 90%,rgba(54,30,95,1) 90%,rgba(54,30,97,1) 92%,rgba(52,28,95,1) 92%,rgba(53,30,97,1) 92%,rgba(51,27,94,1) 93%,rgba(47,26,96,1) 97%,rgba(44,25,93,1) 98%,rgba(43,25,93,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e59388', endColorstr='#2b195d',GradientType=1 );
	}
	h3{
		margin: 0;
		font:28px/30px 'MyriadPro_Cond_bold';
	}
}
.calc_cnt{
	background: #fff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 35px 17px 21px;
	width: 100%;
	.dropdown-menu{
		min-width: auto;
	}
	&:after,&:before{
		display: table;
		clear: both;
		content: '';
	}
	.txt_info{
		h4{
			color: #480f63;
			margin: 0;
			font:18px/22px 'MyriadPro_Cond_bold';
			padding-bottom: 7px;
		}
		p{
			margin: 0;
			color: rgba(#480f63, .74);
			font:18px/22px 'MyriadPro_Cond';
			span{
				padding-left: 25px;
				@include media-breakpoint-down(md){
					padding-left: 0;
					padding-right: 10px;
				}
			}
		}
	}
	.form-control{
		background: #edecec;
		border-color: #edecec;
		border-radius: 20px;
		color: #480f63;
		font:24px/28px 'MyriadPro_Cond';
		padding-right: 9px !important;
		padding-left: 3px !important;
		// border-right-color: transparent !important;
		&:focus{
			border-color: #bba9c3;
		}
	}
	.input-group-prepend{
		width: 80px;
		.input-group-text{
			background: #edecec;
			border-color: #edecec;
			padding-right: 5px;
			width: 100%;
			border-bottom-left-radius: 20px;
			border-top-left-radius: 20px;
			color: #480f63;
			font:18px/28px 'MyriadPro_Cond';
		}
	}
	.input-group-append{
		position: relative;
		&:before{
			content: '';
			width: 1px;
			height: 30px;
			position: absolute;
			top: 50%;
			transform:translateY(-50%);
			left: 0;
			background: #bba9c3;
			display: block;
			z-index: 3;
		}
		button{
			border-bottom-right-radius: 20px;
			border-top-right-radius: 20px;
			background: #edecec;
			border-color: transparent;
			color: #480f63;
			font:18px/22px 'MyriadPro_Cond_bold';
			padding-left: 7px;
			width: 70px;
			text-align: left;
			position: relative;
			&.dropdown-toggle::after{
				content: "\f078";
				border: 0;
				display: block;
				width: 10px;
				height: 22px;
				font: 14px/22px FontAwesome;
				position: absolute;
				top: 50%;
				transform:translateY(-50%);
				right: 17px;
				vertical-align: middle;
				margin: 0;
			}
		}
	}
	.btn-outline-secondary:not(:disabled):not(.disabled):active,
	.btn-outline-secondary:not(:disabled):not(.disabled).active,
	.show > .btn-outline-secondary.dropdown-toggle{
		background: #edecec;
		border-color: #bba9c3;
		color: #480f63;
	}
}
.row-custom{
	@include make-row();
	
	$grid-gutter-width: 5px;
	margin-left: -$grid-gutter-width;
	margin-right: -$grid-gutter-width;
	.col-cstm{
		@include make-col-ready();
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
		margin-bottom: 24px;
		@include media-breakpoint-up(lg) {
			@include make-col(6);
		}
		@include media-breakpoint-down(md) {
			@include make-col(12);
		}
		@include media-breakpoint-only(sm) { @include make-col(6);}
	}
}
.calc_cnt{
	.jcf-select{
		display: block;
		width: 100%;
	}
}
.article_calc{
	padding-bottom: 65px;
}
.jcf-select{
	background: #edecec;
	border-color: #edecec;
	border-radius: 20px;
	color: #480f63;
	height: 42px;
	margin-bottom: 0;
	cursor: pointer !important;
	.jcf-select-text{
		font:18px/42px 'MyriadPro_Cond';
		position: relative;
		margin-right: 46px;
		margin-left: 12px;
		cursor: pointer;
		img{
			position: absolute;
			top: 50%;
			transform:translateY(-50%);
			right: 0;
			display: block;
			max-height: 20px;
			width: auto;
		}
	}
	.jcf-select-opener{
		background: none;
		&:after{
			content: "\f078";
			font: 14px/22px FontAwesome;
			position: absolute;
			top: 50%;
			right: 13px;
			transform:translateY(-50%);
		}
	}
}
.jcf-list-box .jcf-selected, .jcf-select-drop .jcf-hover{
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}
.jcf-select-drop{
	margin-top: 2px !important;
	img{
		max-width: 30px;
		display: block;
		height: auto;
	}
	.jcf-select-drop-content{
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 0.25rem;
		background: #fff;
	}
	.jcf-list{background: none;}
	ul{
		padding: 8px 0;
		li{
			span{
				padding: 0.25rem 1.5rem 0.25rem 50px !important;
				cursor: pointer !important;
				font-size: 16px;
				line-height: 26px;
				position: relative;
				img{
					position: absolute;
					top: 50%;
					transform:translateY(-50%);
					left: 15px;
				}
			}
		}
	}
}
.jcf-focus,.jcf-focus *{
	border-color:#bba9c3 !important;
	transition: border-color 0.15s ease-in-out;
}
.calc_footer{
	margin-top: 27px;
	.btn{
		
		border: 0;
		max-width: 300px;
		margin: 0 auto;
	}
}
.btn_grad{
	background: rgb(248,217,143);
	background: linear-gradient(to bottom, rgba(248,217,143,1) 0%,rgba(244,205,142,1) 22%,rgba(233,163,137,1) 71%,rgba(229,147,136,1) 100%);
	color: #fff;
	border: 0;
	border-radius: 30px;
	font: 24px/26px 'Myriad_Pro_bold';
	padding: 22px 10px 16px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	&:hover{
		box-shadow: 0 0 30px rgba(0,0,0,0.5);
	}
	&:focus,&:active{
		box-shadow:none;
		background: linear-gradient(to bottom, rgba(248,217,143,1) 0%,rgba(244,205,142,1) 22%,rgba(233,163,137,1) 71%,rgba(229,147,136,1) 100%) !important;
	}
}
.nav-pills {
	padding-left: 17px;
	margin-bottom: 7px;
	.nav-link.active, .show > .nav-link{
		background: #fff;
		color: #474747;
	}
	.nav-link{
		color: #fff;
		font: 27px/37px MyriadPro_Cond;
		padding: 0 35px;
		border-radius: 13px;
	}
}
.line_rate{
	background: #edecec;
	color: #4f4e4e;
	font: 27px/30px MyriadPro_Cond;
	padding: 19px 0;
	span{
		padding: 5px 11px;
	}
}
.title{
	font-family: MyriadPro_Cond;
	span{
		display: inline-block;
		position: relative;
		&:after{
			max-width: 296px;
			width: 100%;
			height: 1px;
			background: #4c6ada;
			content: '';
			bottom: 0;
			left: 50%;
			position: absolute;
			transform:translateX(-50%);
		}
		&.border_left{
			&:after{
				left: 0;
				transform:none;
			}
		}
	}
}
.about_block{
	padding: 56px 0 53px;
	@include media-breakpoint-down(md){
		padding: 20px 0;
	}
	p{
		margin: 0;
		font: 18px/22px MyriadPro_Cond;
	}
	h3{
		font-family: MyriadPro_Cond;
		span{
			padding-bottom: 8px;
		}
		margin-bottom: 27px;
	}
}
.styled{
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	font: 18px/22px MyriadPro_Cond;
	li{
		padding-left: 15px;
		position: relative;
		padding-bottom: 3px;
		&:before{
			content: "\f054";
			font: 14px/22px FontAwesome;
			position: absolute;
			top: 1px;
			left: 0;
			color: #4c6ada;
		}
	}
}
.video_block{
	padding: 15px;
	height: 640px;
	position: relative;
	background: rgb(90,52,127);
	background: -moz-linear-gradient(left, rgba(90,52,127,1) 0%, rgba(89,55,132,1) 9%, rgba(86,55,132,1) 11%, rgba(89,57,136,1) 14%, rgba(86,56,135,1) 14%, rgba(86,56,136,1) 15%, rgba(87,59,138,1) 16%, rgba(86,57,137,1) 17%, rgba(87,60,139,1) 18%, rgba(85,60,140,1) 21%, rgba(86,61,143,1) 21%, rgba(85,61,141,1) 22%, rgba(86,62,144,1) 22%, rgba(85,62,142,1) 23%, rgba(86,63,145,1) 24%, rgba(84,63,146,1) 26%, rgba(85,67,150,1) 30%, rgba(82,66,149,1) 30%, rgba(84,69,154,1) 33%, rgba(81,68,153,1) 34%, rgba(82,70,155,1) 34%, rgba(82,71,157,1) 38%, rgba(81,73,159,1) 38%, rgba(82,71,158,1) 39%, rgba(81,74,160,1) 39%, rgba(82,76,163,1) 43%, rgba(79,78,166,1) 45%, rgba(81,78,165,1) 45%, rgba(77,86,177,1) 55%, rgba(78,85,176,1) 56%, rgba(78,87,178,1) 56%, rgba(76,86,177,1) 57%, rgba(76,89,180,1) 58%, rgba(77,87,179,1) 58%, rgba(77,91,182,1) 60%, rgba(75,91,182,1) 61%, rgba(78,92,185,1) 63%, rgba(75,92,185,1) 64%, rgba(77,94,187,1) 65%, rgba(74,99,194,1) 71%, rgba(75,103,199,1) 76%, rgba(72,102,199,1) 77%, rgba(75,106,203,1) 81%, rgba(72,105,202,1) 81%, rgba(74,108,206,1) 84%, rgba(71,109,208,1) 88%, rgba(74,110,210,1) 89%, rgba(71,113,212,1) 94%, rgba(74,114,213,1) 95%, rgba(72,114,212,1) 95%, rgba(74,114,214,1) 95%, rgba(71,115,213,1) 97%, rgba(72,116,215,1) 100%);
	background: -webkit-linear-gradient(left, rgba(90,52,127,1) 0%,rgba(89,55,132,1) 9%,rgba(86,55,132,1) 11%,rgba(89,57,136,1) 14%,rgba(86,56,135,1) 14%,rgba(86,56,136,1) 15%,rgba(87,59,138,1) 16%,rgba(86,57,137,1) 17%,rgba(87,60,139,1) 18%,rgba(85,60,140,1) 21%,rgba(86,61,143,1) 21%,rgba(85,61,141,1) 22%,rgba(86,62,144,1) 22%,rgba(85,62,142,1) 23%,rgba(86,63,145,1) 24%,rgba(84,63,146,1) 26%,rgba(85,67,150,1) 30%,rgba(82,66,149,1) 30%,rgba(84,69,154,1) 33%,rgba(81,68,153,1) 34%,rgba(82,70,155,1) 34%,rgba(82,71,157,1) 38%,rgba(81,73,159,1) 38%,rgba(82,71,158,1) 39%,rgba(81,74,160,1) 39%,rgba(82,76,163,1) 43%,rgba(79,78,166,1) 45%,rgba(81,78,165,1) 45%,rgba(77,86,177,1) 55%,rgba(78,85,176,1) 56%,rgba(78,87,178,1) 56%,rgba(76,86,177,1) 57%,rgba(76,89,180,1) 58%,rgba(77,87,179,1) 58%,rgba(77,91,182,1) 60%,rgba(75,91,182,1) 61%,rgba(78,92,185,1) 63%,rgba(75,92,185,1) 64%,rgba(77,94,187,1) 65%,rgba(74,99,194,1) 71%,rgba(75,103,199,1) 76%,rgba(72,102,199,1) 77%,rgba(75,106,203,1) 81%,rgba(72,105,202,1) 81%,rgba(74,108,206,1) 84%,rgba(71,109,208,1) 88%,rgba(74,110,210,1) 89%,rgba(71,113,212,1) 94%,rgba(74,114,213,1) 95%,rgba(72,114,212,1) 95%,rgba(74,114,214,1) 95%,rgba(71,115,213,1) 97%,rgba(72,116,215,1) 100%);
	background: linear-gradient(to right, rgba(90,52,127,1) 0%,rgba(89,55,132,1) 9%,rgba(86,55,132,1) 11%,rgba(89,57,136,1) 14%,rgba(86,56,135,1) 14%,rgba(86,56,136,1) 15%,rgba(87,59,138,1) 16%,rgba(86,57,137,1) 17%,rgba(87,60,139,1) 18%,rgba(85,60,140,1) 21%,rgba(86,61,143,1) 21%,rgba(85,61,141,1) 22%,rgba(86,62,144,1) 22%,rgba(85,62,142,1) 23%,rgba(86,63,145,1) 24%,rgba(84,63,146,1) 26%,rgba(85,67,150,1) 30%,rgba(82,66,149,1) 30%,rgba(84,69,154,1) 33%,rgba(81,68,153,1) 34%,rgba(82,70,155,1) 34%,rgba(82,71,157,1) 38%,rgba(81,73,159,1) 38%,rgba(82,71,158,1) 39%,rgba(81,74,160,1) 39%,rgba(82,76,163,1) 43%,rgba(79,78,166,1) 45%,rgba(81,78,165,1) 45%,rgba(77,86,177,1) 55%,rgba(78,85,176,1) 56%,rgba(78,87,178,1) 56%,rgba(76,86,177,1) 57%,rgba(76,89,180,1) 58%,rgba(77,87,179,1) 58%,rgba(77,91,182,1) 60%,rgba(75,91,182,1) 61%,rgba(78,92,185,1) 63%,rgba(75,92,185,1) 64%,rgba(77,94,187,1) 65%,rgba(74,99,194,1) 71%,rgba(75,103,199,1) 76%,rgba(72,102,199,1) 77%,rgba(75,106,203,1) 81%,rgba(72,105,202,1) 81%,rgba(74,108,206,1) 84%,rgba(71,109,208,1) 88%,rgba(74,110,210,1) 89%,rgba(71,113,212,1) 94%,rgba(74,114,213,1) 95%,rgba(72,114,212,1) 95%,rgba(74,114,214,1) 95%,rgba(71,115,213,1) 97%,rgba(72,116,215,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a347f', endColorstr='#4874d7',GradientType=1 );
	color: #fff;
	.play_btn{
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
	}
	h1{font-family: 'MyriadPro_Cond';padding-top: 50px;}
	@include media-breakpoint-down(md){
		height: 400px;
		h1{
			padding-top: 20px;
		}
		.play_btn{
			font-size: 100px;
		}
	}
	@include media-breakpoint-down(sm) {
		height: 200px;
		h1{
			padding-top: 0;
		}
		.play_btn{
			font-size: 70px;
		}
	}
}
.play_btn{
	font-size: 160px;
	line-height: 1;
	color: #fff;
	transition: all 0.3s ease;
	text-shadow:0 0 100px  #000;
	&:hover{
		color: #f59983;
		text-shadow:none;
	}
}
.icon{
	display: inline-block;
	vertical-align: middle;
}
.ic1 {
  @include sprite($ic1);
}
.ic2 {
  @include sprite($ic2);
}
.ic3 {
  @include sprite($ic3);
}
.best_block{
	padding-top: 50px;
	h3{
		margin: 12px 0 0 0;
		font:24px/27px  'MyriadPro_Cond_bold';
		padding-bottom: 7px;
	}
	p{
		margin: 0;
		font:18px/22px 'MyriadPro_Cond';
	}
	.main_row{
		padding: 140px 0 180px;
		@include media-breakpoint-down(md){
			padding: 50px 0 30px;
		}
	}
}
.ready_block{
	background: url(../images/bg2.jpg) no-repeat 50% 50%;
	background-size: cover;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 35px;
	text-align: center !important;
	h1{
		margin: 0;
		font:72px/75px 'MyriadPro_Cond_bold';
		color: #fff;
		padding: 15px;
		display: inline-block;
		vertical-align: middle;
	}
	@include media-breakpoint-down(md) {
		h1{font:35px/38px 'MyriadPro_Cond_bold';}
		.btn_transarent{
			font-size: 25px;
			line-height: 27px;
			padding: 13px 25px 11px;
		}
	}
	@include media-breakpoint-down(sm) {
		padding-top: 10px;
		padding-bottom: 15px;
	}
}
.btn_transarent{
	font:36px/38px 'MyriadPro_Cond_bold';
	color: #fff;
	background: rgba(#000,.55);
	border-radius: 30px;
	padding: 13px 40px 11px;
	border: 1px solid rgba(#000,.2);
	box-shadow:inset 0 1px 3px rgba(#000,0.4) , 0 0 3px rgba(#000,0.4);
	&:hover,&:active,&:focus{
		box-shadow:inset 0 1px 3px rgba(#000,0.4) , 0 0 20px rgba(#000,0.4);
	}
}
.light_box{
	width: 100%;
	max-width: 400px;
	padding-top: 30px 0;
	border-radius: 20px;
}
.form_control_custom{
	border-radius: 13px;
	box-shadow: 0 0 15px 0px rgba(#000,.25);
	font-size: 18px;
	padding-top: 11px;
	padding-bottom: 10px;
	border-color:transparent;
	&:focus{
		border-color: #bba9c3;
	}
}